"*":
  "atom-code-music": {}
  "atom-material-ui":
    colors:
      abaseColor: "#00bcd4"
      accentColor: "#ed1b00"
      genAccent: true
      paintCursor: true
    tabs: {}
    treeView: {}
    ui:
      panelShadows: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-write-good"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-light"
    ]
  editor:
    fontSize: 10
  "exception-reporting":
    userId: "e535dc92-f7b7-4d5f-bdbc-ad9c18c65a09"
  "linter-proselint": {}
  "linter-python":
    executablePath: "/usr/bin/pylama"
    withPylint: true
  "linter-ui-default": {}
  "linter-write-good":
    additionalArgs: "--yes-eprime"
  "platformio-ide-terminal":
    core: {}
    style:
      fontFamily: "Roboto Mono for Powerline"
      theme: "inverse"
    toggles:
      autoClose: true
  sbt:
    script: "/usr/bin/sbt"
    showStartupMessage: false
  welcome:
    showOnStartup: false
